{{ define "main" }}
    <div class="grid grid-auto lg:grid-cols-2">
        <div class="border-r border-stone-200">
            <h1 class="p-8 text-2xl leading-relaxed prose">
                一些專案東東(っ◔◡◔)っ ◢◢◢
            </h1>
            <div class="mx-8 mb-8">
                <a href="#" class="inline-flex items-center text-xl"
                    >聯絡我們
                    <svg
                        class="mt-0.5"
                        xmlns="http://www.w3.org/2000/svg"
                        height="24"
                        width="24"
                    >
                        <path d="M9 19V17H15.6L4 5.4L5.4 4L17 15.6V9H19V19Z" />
                    </svg>
                </a>
            </div>

            <div class=""></div>
        </div>
        <div
            id="project"
            class="sticky top-0 lg:max-h-screen lg:overflow-y-auto h-max"
            style="min-height:calc(100vh - var(--navbarMainHeight)*2)"
        >
            {{ partial "partials/Organism-ListProjectOption.html" . }}
            {{ partial "partials/Organism-ListProject.html" . }}
        </div>
    </div>
{{ end }}
