{{ define "main" }}
    <div
        style="min-height: calc(100vh - var(--navbarMainHeight) * 2)"
        class="grid grid-auto lg:grid-cols-2"
    >
        <div>
            <div class="flex items-center h-40 p-8 text-3xl">
                {{ .Params.titletc }}
                <br />
                {{ .Title }}
            </div>

            <div>
                {{ range .Params.cover }}
                    <img
                        class="sticky top-0 w-full"
                        src="{{ . }}{{ $.Site.Params.imgAuto }}"
                        srcset="
                            {{ . }}{{ $.Site.Params.imgmd }}{{ $.Site.Params.imgAuto }}    600w,
                            {{ . }}{{ $.Site.Params.imglg }}{{ $.Site.Params.imgAuto }}    800w,
                            {{ . }}{{ $.Site.Params.imgxl }}{{ $.Site.Params.imgAuto }} 1200w
                        "
                        alt="Hero Image"
                        sizes="(min-width: 1040px) 50vw, (min-width: 540px) 100vw, calc(10.91vw + 463px)"
                        loading="lazy"
                    />
                {{ end }}

            </div>
        </div>

        <div class="px-8 pb-8 border-0 lg:border-l">
            <div class="h-40 py-8">
                <ul>
                    <li>

                    <!-- Time -->
                    {{ if .Params.time }}
                        時間 :
                        <time>
                            {{ .Params.Date.Format "2006" }}
                        </time>
                    </li>
                    {{ end }}

                    <!-- Tag -->
                    {{ if .Params.tag }}
                        <li>
                            標籤:
                            {{ .Params.tag }}
                        </li>
                    {{ end }}


                    <!-- Client -->
                    {{ if .Params.client }}
                        <li>
                            客戶:
                            {{ .Params.client }}
                        </li>
                    {{ end }}
                </ul>
            </div>
            <div style="top: var(--navbarMainHeight)" class="sticky prose ">
                {{ .Content }}
            </div>
        </div>
    </div>
{{ end }}
