{{ define "main" }}
    <div
        style="min-height: calc(100vh - var(--navbarMainHeight) * 2 + 2rem)"
        class="grid grid-auto lg:grid-cols-2"
    >
        <div>
            <div class="flex items-center h-40 p-8 text-3xl">
                {{ .Params.titletc }}
                <br />
                {{ .Title }}
            </div>

            <div>
                {{ $smartProcess :=  "/-/quality/smart_retina/-/format/auto/-" }}
                {{ range .Params.cover }}
                    {{ $img := . }}
                    {{ $dirFile := path.Split $img }}
                    <img
                        class="sticky top-0 w-full"
                        src="{{ $dirFile.Dir }}{{ $smartProcess }}{{ path.Base $img }}"
                        srcset="
                            {{ $dirFile.Dir }}{{ $smartProcess }}/resize/300x/{{ path.Base $img }}   300w,
                            {{ $dirFile.Dir }}{{ $smartProcess }}/resize/600x/{{ path.Base $img }}   600w,
                            {{ $dirFile.Dir }}{{ $smartProcess }}/resize/900x/{{ path.Base $img }}   900w,
                            {{ $dirFile.Dir }}{{ $smartProcess }}/resize/1200x/{{ path.Base $img }} 1200w
                        "
                        sizes="(min-width: 1040px) 50vw, 100vw"
                        alt="{{ path.Base $img }}"
                        loading="lazy"
                    />
                {{ end }}
            </div>
        </div>

        <div class="px-8 pb-8 border-0 lg:border-l">
            <div class="h-40 py-8">
                <ul>
                    <!-- Time -->
                    {{ if .Params.date }}
                        <li>
                            時間 :
                            <time>
                                {{ .Params.Date.Format "2006" }}
                            </time>
                        </li>
                    {{ end }}


                    <!-- Tag -->
                    {{ if .Params.tag }}
                        <li>
                            標籤:
                            {{ .Params.tag }}
                        </li>
                    {{ end }}


                    <!-- Tag -->
                    {{ if .Params.Project }}
                        <li>
                            標籤:
                            {{ .Params.Project }}
                        </li>
                    {{ end }}


                    <!-- Client -->
                    {{ if .Params.client }}
                        <li>
                            客戶:
                            {{ .Params.client }}
                        </li>
                    {{ end }}
                </ul>
            </div>
            <div
                style="top: calc(var(--navbarMainHeight) + 2rem) "
                class="sticky prose "
            >
                {{ .Content }}
            </div>
        </div>
    </div>
{{ end }}
