/* assets */ 
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --navbarMainHeight: 3.5rem;
    --highlight: theme('colors.yellow.300');
}

.navbarMainHeight{
    height: var(--navbarMainHeight);
}

.top-navbarMainHeight{
    top: var(--navbarMainHeight);
}

::selection {
    @apply bg-stone-200;
}

*:focus {
    transition:background-color .3s;
    @apply ring-2 ring-transparent focus:ring-stone-300 z-50 relative;
}




