/* Tailwind */ 
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variable */
:root {
    --navbarMainHeight: 3.5rem;
    --highlight: theme('colors.stone.50');
}

.navbarMainHeight{
    height: var(--navbarMainHeight);
}

.top-navbarMainHeight{
    top: var(--navbarMainHeight);
}


/* Reset */
img, video{
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    background-color: red
}

::selection {
    @apply bg-stone-200;
}

*:focus {
    transition:background-color .3s;
    @apply ring-2 ring-transparent ring-stone-300 z-50 relative;
}

/* Main */

.navbarMain--active {
    @apply bg-stone-100
}

.highlight {
    margin: 0 2rem;
}









