{{ define "main" }}
    <div class="grid grid-auto lg:grid-cols-2">
        <div class="border-r border-stone-200">
            <h1 class="p-8 text-3xl leading-relaxed prose">
                用「專業的角度有趣地玩設計」是我們專注的事情。
            </h1>
            <div class="mx-8 mb-8"></div>

            <div class="">
                <img
                    class="sticky top-0 w-full"
                    src="https://dummyimage.com/300x300/d6cdbf/fff&text=Project-Show.jpg"
                    srcset="
                        https://dummyimage.com/600x600/d6cdbf/fff&text=Project-Show.jpg    600w,
                        https://dummyimage.com/800x800/d6cdbf/fff&text=Project-Show.jpg    800w,
                        https://dummyimage.com/1200x1200/d6cdbf/fff&text=Project-Show.jpg 1200w
                    "
                    alt="Hero Image"
                    sizes="(min-width: 768px) 50vw, 100vw"
                    loading="lazy"
                />
            </div>
        </div>
        <div>
            {{ .Content }}
        </div>
    </div>
{{ end }}
