{{ define "main" }}
    <div class="grid grid-auto lg:grid-cols-2">
        <div class="border-r border-stone-200">
            <div class="p-8">
                <h1 class="text-2xl leading-relaxed prose">
                    「未來、創新與效率」為三要點，連成三角形且像是洶湧的後浪，表示三角東東隨著時代潮流不斷前行演進。
                    <br />
                    <br />
                    我們創作趣味性十足跳脫平庸的作品，站在專業的角度有趣的玩設計。
                </h1>
            </div>

            <div class="">
                {{ range .Params.cover }}
                    {{ $img := . }}
                    {{ $dirFile := path.Split $img }}

                    {{ $smartProcess :=  "/-/quality/smart_retina/-/format/auto/-" }}
                    <img
                        class="sticky top-0 w-full"
                        src="{{ $dirFile.Dir }}{{ $smartProcess }}{{ path.Base $img }}"
                        srcset="
                            {{ $dirFile.Dir }}{{ $smartProcess }}/resize/300x/{{ path.Base $img }}   300w,
                            {{ $dirFile.Dir }}{{ $smartProcess }}/resize/600x/{{ path.Base $img }}   600w,
                            {{ $dirFile.Dir }}{{ $smartProcess }}/resize/900x/{{ path.Base $img }}   900w,
                            {{ $dirFile.Dir }}{{ $smartProcess }}/resize/1200x/{{ path.Base $img }} 1200w
                        "
                        sizes="(min-width: 1040px) 50vw, 100vw"
                        alt="{{ path.Base $img }}"
                        loading="lazy"
                    />
                {{ end }}
            </div>
        </div>
        <div class="w-full mx-8 prose max-w-none">
            {{ .Content }}
        </div>
    </div>
{{ end }}
