<!-- {{ if .IsHome }}
    {{ $path := "./js/inline/index.js" }}
    {{ $js := resources.Get $path | resources.ExecuteAsTemplate $path . | minify }}    <script>{{ $js.Content | safeJS }}</script>
{{ end }}
 -->


<script>

    {{ $index := resources.Match "js/index/**.js" }}

    {{ $index = $index | resources.Concat "tempIndex.js" | resources.ExecuteAsTemplate "index.js" . }}

    {{ $index = $index | js.Build }}

    console.log(fetch("{{ $.Site.Params.brandUrl }}{{ $index.RelPermalink }}"))

</script>
