<!-- !Favicon -->
<link
    rel="icon"
    href="data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' height='100' width='100'%3E%3Cstyle%3E circle%7B fill: blue; %7D circle%7B fill: lightgray; %7D @media (prefers-color-scheme: dark) %7B circle%7B fill: white; %7D %7D %3C/style%3E%3Ccircle cx='50' cy='50' r='40' stroke-width='3' /%3E%3C/svg%3E "
    type="image/svg+xml"
/>

<!-- !Title -->
{{ $title := newScratch }}


<!-- Is in .Kind of Term -->
{{ if eq .Kind "term" }}
    {{ $taxonomyPrefix := print (.Data.Singular | title) " → " }}
    {{ $title.Add "content" $taxonomyPrefix }}
{{ end }}


<!-- Is in .Kind of Home -->
{{ if .IsHome }}
    {{ $title.Add "content" $.Site.Params.slogan }}
    {{ $title.Add "content" " - " }}
    {{ $title.Add "content" $.Site.Params.brandLogo }}
    <!-- Is not in .Kind of Home -->
{{ else }}
    {{ if eq .Kind "section" }}
        {{ $title.Add "content" (.Params.titletc | humanize  ) }}
    {{ else if eq .Kind "taxonomy" }}
        {{ $title.Add "content" (.Params.Titletc | plainify  ) }}
    {{ else }}
        {{ $title.Add "content" (.Params.Titletc | plainify  ) }}
    {{ end }}

    {{ $title.Add "content" " - " }}
    {{ $title.Add "content" $.Site.Params.brand }}
{{ end }}


<!-- Title TAG -->
<title>{{ $title.Get "content" }}</title>

{{ $pageDescription := newScratch }}
{{ $pageDescription.Set "desc" .Site.Params.brandDescription }}

{{ if .Params.description }}
    {{ $pageDescription.Set "desc" .Params.description }}
{{ end }}
{{ if .Params.descriptiontc }}
    {{ $pageDescription.Set "desc" .Params.descriptiontc }}
{{ end }}


<!-- Other -->
<meta name="description" content="{{ $pageDescription.Get "desc" }}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Open Graph -->
<meta property="og:title" content="{{ $title.Get `content` }}" />
<meta property="og:description" content="{{ $pageDescription.Get "desc" }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="" />

<!-- Twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="{{ $title.Get `content` }}" />
<meta name="twitter:description" content="{{ $pageDescription.Get "desc" }}" />

<!-- CSS -->
{{ $styles := resources.Get "/css/style.css" | postCSS }}
{{ if .Site.IsServer }}
    <!-- Use Tailwind CDN -->
    <!-- <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=typography"></script> -->

    <!-- Purged Tailwind -->
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" />
{{ else }}
    {{ $styles := $styles | minify | fingerprint | resources.PostProcess }}
    <link
        rel="stylesheet"
        href="{{ $styles.RelPermalink }}"
        integrity="{{ $styles.Data.Integrity }}"
    />
{{ end }}
