<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{ .Title }}</title>

{{ $styles := resources.Get "/css/style.css" | postCSS }}
{{ if .Site.IsServer }}
    <!-- <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=typography"></script> -->

    <!-- Tailwind purged -->
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" />
{{ else }}
    {{ $styles := $styles | minify | fingerprint | resources.PostProcess }}
    <link
        rel="stylesheet"
        href="{{ $styles.RelPermalink }}"
        integrity="{{ $styles.Data.Integrity }}"
    />
{{ end }}


<script>
    ;(function (src, cb) {
        var s = document.createElement('script')
        s.setAttribute('src', src)
        s.onload = cb
        ;(document.head || document.body).appendChild(s)
    })(
        'https://ucarecdn.com/libs/blinkloader/3.x/blinkloader.min.js',
        function () {
            window.Blinkloader.optimize({
                pubkey: 'YOUR_PUBLIC_KEY',
                fadeIn: true,
                lazyload: true,
                smartCompression: true,
                responsive: true,
                retina: true,
                webp: true,
            })
        }
    )
</script>
