<!-- !Favicon -->
<link
    rel="icon"
    type="image/svg+xml"
    href="
    data:image/svg+xml,
    %3Csvg xmlns='http://www.w3.org/2000/svg' width='256' height='256' viewBox='0 0 100 100'%3E%3Cstyle%3E rect %7B fill: white; %7D text%7B fill: black; %7D @media (prefers-color-scheme: dark) %7B rect %7B fill: black; %7D text %7B fill: white; %7D %7D %3C/style%3E%3Crect width='100' height='100' rx='20'%3E%3C/rect%3E%3Ctext x='47%25' y='50%25' dominant-baseline='central' text-anchor='middle' font-size='30'%3E ◢◢◢ %3C/text%3E%3C/svg%3E"
/>

<!-- !Title -->
{{ $title := newScratch }}
{{ $isTerm := false }}


<!-- Is in .Kind of Term -->
{{ if eq .Kind "term" }}
    {{ $taxonomyPrefix := print (.Data.Singular | title) " → " }}
    {{ $title.Add "content" $taxonomyPrefix }}
    {{ $isTerm = true }}
{{ end }}


<!-- Is in .Kind of Home -->
{{ if .IsHome }}
    {{ $title.Add "content" $.Site.Params.slogan }}
    {{ $title.Add "content" " - " }}
    {{ $title.Add "content" $.Site.Params.brandtc }}
    {{ $title.Add "content" " " }}
    {{ $title.Add "content" $.Site.Params.brand }}
    <!-- Is not in .Kind of Home -->
{{ else }}
    {{ if eq .Kind "section" }}
        {{ $title.Add "content" (.Params.titletc | humanize  ) }}
    {{ else if eq .Kind "taxonomy" }}
        {{ $title.Add "content" (.Params.titletc | plainify  ) }}
    {{ else }}
        {{ $title.Add "content" (.Params.titletc | plainify  ) }}
    {{ end }}

    {{ if not $isTerm }}
        {{ $title.Add "content" " - " }}
    {{ end }}
    {{ $title.Add "content" $.Site.Params.brand }}
{{ end }}


<!-- Title TAG -->
<title>{{ $title.Get "content" }}</title>

{{ $pageDescription := newScratch }}
{{ $pageDescription.Set "desc" .Site.Params.brandDescription }}

{{ if .Params.description }}
    {{ $pageDescription.Set "desc" .Params.description }}
{{ end }}
{{ if .Params.descriptiontc }}
    {{ $pageDescription.Set "desc" .Params.descriptiontc }}
{{ end }}


<!-- Other -->
<meta name="description" content="{{ $pageDescription.Get "desc" }}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Open Graph -->
<meta property="og:title" content="{{ $title.Get `content` }}" />
<meta property="og:description" content="{{ $pageDescription.Get "desc" }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="" />

<!-- Twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="{{ $title.Get `content` }}" />
<meta name="twitter:description" content="{{ $pageDescription.Get "desc" }}" />

{{ template "_internal/google_analytics.html" . }}


<!-- CSS -->
{{ $styles := resources.Get "/css/style.css" | postCSS }}
{{ if .Site.IsServer }}
    <!-- Use Tailwind CDN -->
    <!-- <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=typography"></script> -->

    <!-- Purged Tailwind -->
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" />
{{ else }}
    {{ $styles := $styles | minify | fingerprint | resources.PostProcess }}
    <link
        rel="stylesheet"
        href="{{ $styles.RelPermalink }}"
        integrity="{{ $styles.Data.Integrity }}"
    />
{{ end }}


<!-- Javascript -->
<!-- !Javascript Bundling -->
<!-- Path -->
{{ $js := resources.Match "js/**.js" }}
<!-- Options -->
{{ $js = $js | resources.Concat "temp.js" | resources.ExecuteAsTemplate "global.js" . }}
<!-- Build -->
{{ $js = $js | js.Build }}
<!-- If is in Production -->
{{ if hugo.IsProduction }}
    {{ $js = $js | js.Build | minify | resources.Fingerprint "sha256" }}
{{ end }}


<script
    defer
    src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"
></script>

<script
    defer
    src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollTrigger.min.js"
></script>
<script defer src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}"></script>
