<h2 class="p-8 py-4 bg-stone-100">文章標籤</h2>
<div class="p-8">
    <!-- !If category is not empty -->
    {{ if ne (len $.Site.Taxonomies.category) 0 }}
        <div class="mt-4 -ml-2">
            <!-- Fetch current title & sectionName -->
            {{ $currentTitle := .Title | lower }}
            {{ $currentSection := .Section }}
            {{ $target := "category" }}

            {{/* Show "All option" when --- */}}
            {{/* 1. Is NOT in category index page */}}
            {{ if not (eq $currentSection $currentTitle) }}
                <a
                    class="relative inline-block p-4 py-1 text-2xl capitalize"
                    href="{{ print "/" $target "/" | relURL }}"
                >
                    All
                </a>
            {{ end }}

            {{/* Loop thought options */}}
            {{ range $name, $taxonomy := ($.Site.Taxonomies.category) }}
                {{ $tagCount := len $taxonomy.Pages }}
                {{ if not (eq $name $currentTitle) }}
                    <a
                        class="relative inline-block p-4 py-1 text-2xl capitalize"
                        href="{{ "/category/" | relURL }}{{ $name | urlize }}"
                    >
                        {{- $name -}}
                        <sup class="absolute top-0 right-0 text-sm"
                            >{{- $tagCount -}}</sup
                        >
                    </a>
                {{ end }}
            {{ end }}
        </div>
    {{ end }}

</div>
