<footer
    class="flex items-center justify-between hidden border-t lg:flex navbarMainHeight border-stone-200"
>
    <p class="inline-block ml-8 border-r scroll-px-8 border-stone-200">
        {{ .Site.Params.brand }}™ All Right Reserved
    </p>
    <ul class="flex items-center">
        <li class="">
            <a
                class="px-8 py-4 border-l border-stone-200 hover:bg-stone-100"
                href="https://www.instagram.com/triangle_dongdong"
                >IG</a
            >
        </li>
        <li class="">
            <a
                class="px-8 py-4 border-l border-stone-200 hover:bg-stone-100"
                href="#"
                >YT</a
            >
        </li>
        <li class="">
            <a
                class="px-8 py-4 border-l border-stone-200 hover:bg-stone-100"
                href="https://www.behance.net/triangledongdong2020"
                >Be</a
            >
        </li>
        <li class="">
            <a
                class="px-8 py-4 border-l border-stone-200 hover:bg-stone-100"
                href="mailto:triangledongdong@gmail.com"
            >
                Mail
            </a>
        </li>
    </ul>
</footer>
