{{ define "main" }}
    <div class="grid grid-auto lg:grid-cols-2">
        <div class="border-r border-stone-200">
            <h1 class="p-8 text-2xl leading-relaxed prose">
                <div class="gsap-heading">
                    創作跳脫平凡充滿趣味性的作品，站在專業的角度有趣的玩設計。
                </div>
                <br />

                <div class="gsap-heading">
                    創立於2020年，三角東東 Triangle Dong Dong
                    是一個專注於品牌設計的新創設計公司，用輕鬆有趣的方式與你一同傳述品牌的故事。
                </div>
                <br />
            </h1>
            <div class="flex gap-12 mx-8 mb-8">
                {{ partial "partials/Atom-btn.html" (dict "content" "關於我們" "url" "/about") . }}
                {{ partial "partials/Atom-btn.html" (dict "content" "觀看作品" "url" "/project") . }}
            </div>

            <div class="">
                <video
                    autoplay
                    loop
                    muted
                    playsinline
                    src="https://ucarecdn.com/54a6011f-7c87-45a0-a546-82646b95bac2/noroot.mp4"
                    class="sticky top-0 w-full gsap-image"
                ></video>
            </div>
        </div>
        <div
            id="project"
            class="sticky top-0 z-40 lg:max-h-screen h-max bg-stone-50"
        >
            {{ partial "partials/Organism-ListProject-index.html" . }}
            {{ partial "partials/Organism-ListPost-index.html" . }}
        </div>
    </div>
{{ end }}
