{{ define "main" }}
    <div class="grid grid-auto lg:grid-cols-2">
        <div class="border-r border-stone-200">
            <h1 class="p-8 text-2xl leading-relaxed prose">
                創立於2020年，三角東東 Triangle Dong Dong
                是一個專注於品牌設計的新創設計公司。
                <br />
                <br />
                目標為企業與設計打造更穩固與創新的服務。服務範圍涵蓋平面設計、品牌設計、產品設計、展示設計、網頁設計、社會設計與行銷廣告……等專業領域。
            </h1>
            <div class="flex gap-12 mx-8 mb-8">
                <a href="/about" class="inline-flex items-center gap-2 text-xl">
                    關於我們
                    <svg
                        class="mt-0.5"
                        xmlns="http://www.w3.org/2000/svg"
                        height="24"
                        width="24"
                    >
                        <path d="M9 19V17H15.6L4 5.4L5.4 4L17 15.6V9H19V19Z" />
                    </svg>
                </a>

                <a
                    href="/Project"
                    class="inline-flex items-center gap-2 text-xl"
                >
                    觀看作品
                    <svg
                        class="mt-0.5"
                        xmlns="http://www.w3.org/2000/svg"
                        height="24"
                        width="24"
                    >
                        <path d="M9 19V17H15.6L4 5.4L5.4 4L17 15.6V9H19V19Z" />
                    </svg>
                </a>
            </div>

            <div class="">
                <video
                    autoplay
                    muted
                    src="https://ucarecdn.com/3050be91-8372-4427-b39b-93784198dd36/video"
                    class="sticky top-0 w-full"
                ></video>
            </div>
        </div>
        <div
            id="project"
            class="sticky top-0 z-40 lg:max-h-screen lg:overflow-y-scroll h-max bg-stone-50"
        >
            {{ partial "partials/Organism-ListProject-index.html" . }}
            {{ partial "partials/Organism-ListPost-index.html" . }}
        </div>
    </div>
{{ end }}
