{{ $type := .Get "type" }}
{{ $cite := .Get "cite" }}
{{ $citeSrc := .Get "citeSrc" }}

{{ $class := newScratch }}

{{ if eq $type "success" }}
    {{ $class.Add "colorDarker" "bg-green-300" }}
    {{ $class.Add "color" "bg-green-50" }}
    {{ $class.Add "title" "成功" }}
{{ end }}

{{ if eq $type "warning" }}
    {{ $class.Add "colorDarker" "bg-yellow-300" }}
    {{ $class.Add "color" "bg-yellow-50" }}
    {{ $class.Add "title" "警告" }}
{{ end }}

{{ if eq $type "danger" }}
    {{ $class.Add "colorDarker" "bg-red-300" }}
    {{ $class.Add "color" "bg-red-50" }}
    {{ $class.Add "title" "警示" }}
{{ end }}

{{ if eq $type "info" }}
    {{ $class.Add "colorDarker" "bg-blue-300" }}
    {{ $class.Add "color" "bg-blue-50" }}
    {{ $class.Add "title" "資訊" }}
{{ end }}


<div>
    {{ if $cite }}
        <figure class="my-16 font-serif font-bold text-center">
            <blockquote class="">
                <p class="mx-auto text-2xl">
                    {{ .Inner | .Page.RenderString }}
                </p>
            </blockquote>
            <figcaption>
                <cite>
                    <a href="{{ with $citeSrc }}{{ . }}{{ end }}"
                        >From —— {{ with $cite }}{{ . }}{{ end }}</a
                    >
                </cite>
            </figcaption>
        </figure>
    {{ else }}
        <blockquote
            class="font-bold text-lg px-8 font-serif pt-4 text-center {{ $class.Get "color" }}"
        >
            <div
                class="top-0 left-0 w-full font-sans leading-relaxed tracking-wider opacity-60"
            >
                {{ $class.Get "title" }}
            </div>
            <div class="pb-4 text-2xl">
                {{ .Inner | .Page.RenderString }}
            </div>
        </blockquote>
    {{ end }}
</div>
